<nav id="navbar">
    <i id="spinning-bone" class="fa-solid fa-bone"></i>
    <ul>
      <li>
        <a class="navlink {{active "/index" currentRoute}}" href="./">
          Home
          <i class="fa-solid fa-house"></i> 
        </a>
      </li>
      <li>
        <a class="navlink {{active "/browse" currentRoute}}" href="./browse">
          Browse Available Pets
          <i class="fa-solid fa-store"></i>
        </a>
      </li>
      <li>
        <a class="navlink {{active "/pet-finder" currentRoute}}" href="./pet-finder">
          Find a Pet
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </li>
      <li>
        <a class="navlink {{active "/dog-care" currentRoute}}" href="./dog-care">
          Dog Care
          <i class="fa-solid fa-dog"></i>
        </a>
      </li>
      <li>
        <a class="navlink {{active "/cat-care" currentRoute}}" href="./cat-care">
          Cat Care
          <i class="fa-solid fa-cat"></i>
        </a>
      </li>
      <li>
        <a class="navlink {{active "/giveaway-form" currentRoute}}" href="./giveaway-form">
          Adoption Form
          <i class="fa-solid fa-box-archive"></i>
        </a>
      </li>
      <li>
        <a class="navlink {{active "/contact" currentRoute}}" href="./contact">
          Contact Us
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
      </li>
    </ul>
  </nav>